<!--
  Generated template for the OportunidadesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->





<ion-content padding>
    <img src="assets/logo.svg" id="ion-logo" />
    <h6 style="text-align:center; color: grey;">Reporta, encuentra, ayuda</h6>

    <h1>Oportunidades validadas</h1>
    <br>

    <ion-card>
        <img src="assets/imgs/bucaramanga.jpg" />
        <ion-card-content>
            <ion-card-title>
                Auxiliar contable/administrativo - Bucaramanga
            </ion-card-title>
            <p>
                Auxiliar Contable /Financiero (tecnólogo o estar cursando sexto semestre en contaduría, con mínimo 1 año de experiencia.
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/imgs/bogota.jpg" />
        <ion-card-content>
            <ion-card-title>
                Auxiliar de servicio al cliente - Bogotá
            </ion-card-title>
            <p>
                Auxiliar de Servicio al Cliente para módulos de servicio, con el objetivo de superar las expectativas de los clientes a través de la resolución de requerimientos recibidos.
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/imgs/buenosaires.jpg" />
        <ion-card-content>
            <ion-card-title>
                Coordinador de incidentes & Dispatcher - Buenos aires
            </ion-card-title>
            <p>
                Coordinador de Incidentes & Dispatcher, deberá gestionar la asignación de tickets y solicitudes de servicio a diferentes equipos y/o analista.
            </p>
        </ion-card-content>
    </ion-card>

</ion-content>