page-oportunidades {
    ion-content {
        font-family: 'Raleway';
        font-size: 20px;
        text-align: center;
        #ion-logo {
            width: 20%;
            margin-left: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
        }
    }
}