page-formulario-reporte {
    ion-content {
        font-family: 'Raleway';
        font-size: 20px;
        #ion-logo {
            width: 20%;
            margin-left: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
        }
        #cargar {
            font-size: 15px;
        }
        .opcion {
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}