<!--
  Generated template for the FormularioReportePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <img src="assets/logo.svg" id="ion-logo" />
    <h6 style="text-align:center; color: grey;">Reporta, encuentra, ayuda</h6>

    <p>Ingresa la información adicional que conozcas de la persona, podrías estar salvando una vida</p>
    <br>

    <ion-list>

        <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Identificación:</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Ubicación actual:</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Comentarios:</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

    </ion-list>

    <p>Foto:</p>
    <div id="cargar">
        <input type="file" id="archivo" (change)="onFileChanged($event)">
    </div>
    <br>
    <br>

    <img class="opcion" (click)="clickEnviar()" src="./assets/botones/enviar.svg" />


</ion-content>