<ion-content padding>
  <br />
  <img width="100%" src="./assets/imgs/headers/responde.png" />

  <p class="pregunta" align="center">
    ¿En qué rango de edad se encuentra?
  </p>

  <ion-grid id="gridPrincipal">
    <ion-row>
      <ion-col col-12>
        <img width="60%" class="opcion center" src="./assets/imgs/e0.svg" (click) = "preguntasNinos()"/>
      </ion-col>
      <ion-col col-12>
        <img width="60%" class="opcion center" src="./assets/imgs/e1.svg" (click) = "preguntasNinos()"/>
      </ion-col>
      <ion-col col-12>
        <img width="60%" class="opcion center" src="./assets/imgs/e2.svg" (click) = "preguntasAdultos()"/>
      </ion-col>
      <ion-col col-12>
        <img width="60%" class="opcion center" src="./assets/imgs/e3.svg" (click) = "preguntasAdultos()"/>
      </ion-col>
      <ion-col col-12>
        <img width="60%" class="opcion center" src="./assets/imgs/e4.svg" (click) = "preguntasAdultos()"/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
