page-pregunta-inicial {

    ion-content{
        background-image: url('../assets/imgs/fondos/oscuro1.png');
        background-color: transparent;
      }

      .pregunta {
        color: white;
        font-size: 32px;
        font-family: 'Raleway';
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 50%;
    }

}
