<!--
  Generated template for the TestimoniosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

    <img src="assets/logo.svg" id="ion-logo" />
    <h6 style="text-align:center; color: grey;">Reporta, encuentra, ayuda</h6>


    <h2>¿Qué es la trata de personas?</h2>
    <iframe width="97%" src="https://www.youtube.com/embed/Gr5Mdo_3x7Y" frameborder="5" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <h2>¿Cómo ocurre?</h2>
    <iframe width="97%" src="https://www.youtube.com/embed/W3VFAwEEI2g" frameborder="5" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <h2>Campaña contra la trata de personas</h2>
    <iframe width="97%" src="https://www.youtube.com/embed/n9b6v64VeT4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</ion-content>