page-testimonios {
    background-color: white;
    #ion-logo {
        width: 20%;
        margin-left: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        color: #1986D3;
        font-size: 25px;
        font-family: 'Raleway';
        text-align: center;
    }
}