<ion-content padding>
    <br />
    <img width="100%" src="./assets/imgs/headers/responde.png" />
    <div id="texto" text-center>
        <p>
            A continuación podrás realizar un cuestionario que te ayudará a identificar posibles víctimas de trata de personas. Estas preguntas te permitirán detectar señales de alerta a partir de una buena observación de los elementos que rodean y son parte de la
            posible víctima (Ministerio del interior y seguridad pública de Chile, 2016).
        </p>
    </div>
    <div style="text-align:center;">
        <img width="50%" id="botonExplora" class="boton" src="./assets/botones/continuar.svg" (click)="irAQuiz()" />
    </div>
</ion-content>