page-home {

  ion-content{
    background-image: url('../assets/imgs/fondos/oscuro1.png');
    background-color: transparent;
  }
}


  #texto {
    padding-top: 4pt;
    padding-bottom: 8pt;
    color: #FFFFFF;
    font-size: 18pt;
    font-family: 'Raleway';
  }

  .boton {
      margin-top: 25px;
  }
