<!--
  Generated template for the EnviarReportePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <img src="assets/search-solid.svg" id="search" />
    <img src="assets/logo.svg" id="ion-logo" />
    <img src="assets/cog-solid.svg" id="settings" />
    <h6 style="text-align:center; color: grey;">Reporta, Encuentra ayuda</h6>

    <img class="opcion" src="./assets/imgs/reportar.jpg" />

    <h1>¿Quieres enviar más información?</h1>
    <ion-grid id="gridPrincipal" style="padding-top: 5%;">
        <ion-row>
            <ion-col col-6>
                <img class="opcion" src="./assets/botones/si.svg" (click)="infoExtra(true)" />
            </ion-col>
            <ion-col col-6>
                <img class="opcion" src="./assets/botones/no.svg" (click)="infoExtra(false)" />
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>