page-enviar-reporte {
    ion-content {
        background-color: transparent;
        h1 {
            color: black;
            font-size: 32px;
            font-family: 'Raleway';
            text-align: center;
        }
        .opcion {
            width: 100%;
        }
        #ion-logo {
            width: 20%;
            margin-left: 30%;
        }
        #search {
            width: 6%;
            margin-bottom: 30px;
            margin-left: 5%;
        }
        #settings {
            width: 6%;
            margin-bottom: 30px;
            margin-left: 25%;
        }
    }
}