page-pregunta {
    ion-content {
        background-image: url('../assets/imgs/fondos/oscuro1.png');
        background-color: transparent;
    }
    #imgCirculo {
        margin-top: 30px;
        width: 40%;
        display: block;
        margin: 0 auto;
        margin-top: 8vh;
    }
    .pregunta {
        color: white;
        font-size: 32px;
        font-family: 'Raleway';
    }
    .opcion {
        width: 100%;
    }
}