<ion-content padding>
	<br/>
	<img width="100%" src="./assets/imgs/headers/responde.png"/>

	<img id="imgCirculo" src="./assets/imgs/question{{imgIndex}}.svg"/>

	<p class="pregunta" align="center">
    {{pregunta.pregunta}}
	</p>

  <ion-grid id="gridPrincipal">
    <ion-row>
      <ion-col *ngFor="let opcion of pregunta.opciones" col-6>
        <img class="opcion" (click)="clickOpcion(opcion)" src="./assets/botones/{{opcion}}.svg" /> 
      </ion-col>
      <ion-col *ngIf="impar" col-6 offset-3>
          <img class="opcion" (click)="clickOpcion(ultima)" src="./assets/botones/{{ultima}}.svg" /> 
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
