<!--
  Generated template for the VerificarOfertaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Verificar Una Oferta</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form>
        <ion-list>
            <ion-item>
                <ion-icon name="map" item-start></ion-icon>
                <ion-label floating>País de la oferta</ion-label>
                <ion-input type="text" [(ngModel)]="pais" name="pais"></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="logo-euro" item-start></ion-icon>
                <ion-label floating>Salario ofrecido</ion-label>
                <ion-input type="number" [(ngModel)]="salario" name="salario"></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="school" item-start></ion-icon>
                <ion-label floating>Nivel educativo ofrecido</ion-label>
                <ion-select type="text" [(ngModel)]="educacion" name="educacion">
                    <ion-option value="primaria">
                        Primaria
                    </ion-option>
                    <ion-option value="secundaria">
                        Secundaria
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-icon name="phone-portrait" item-start></ion-icon>
                <ion-label floating>Télefono de contacto del ofertante</ion-label>
                <ion-input type="number" [(ngModel)]="telefonoContacto" name="telefonoContacto"></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon name="mail" item-start></ion-icon>
                <ion-label floating>Correo del ofertante</ion-label>
                <ion-input type="email" [(ngModel)]="correo" name="correo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Medio por el que conoció la oferta</ion-label>
                <ion-select type="text" [(ngModel)]="medio" name="medio">
                    <ion-option value="correo">
                        Correo
                    </ion-option>
                    <ion-option value="internet">
                        Anuncio en internet
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button color="primary" type="submit" block (click)="validar()">Validar</button>
        </div>
    </form>
</ion-content>