<ion-content padding>
    <img src="assets/search-solid.svg" id="search" />
    <img src="assets/logo.svg" id="ion-logo" />
    <img src="assets/cog-solid.svg" id="settings" />

    <h6 style="margin-top:20%;text-align:center; color: grey;">Reporta, Encuentra ayuda</h6>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-card (click)="goToEsTrata()">
                    <img src="assets/preguntas.jpg" />
                    <div class="card-title">¿Es Trata?</div>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card>
                    <img src="assets/revisarOferta.jpg" (click)="goToVerificarOferta()" />
                    <div class="card-title">Verificar Oferta</div>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card>
                    <img src="assets/ofertas.jpg" (click)="goToInformate()" />
                    <div class="card-title ">¡Infórmate!</div>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card>
                    <img src="assets/formulario.jpg " (click)="goToReportar()" />
                    <div class="card-title ">Reportar </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>