page-menu {
    font-family: 'Raleway';
    #ion-logo {
        width: 20%;
        margin-left: 30%;
    }
    #search {
        width: 6%;
        margin-bottom: 30px;
        margin-left: 5%;
    }
    #settings {
        width: 6%;
        margin-bottom: 30px;
        margin-left: 25%;
    }
    .toolbar-background {
        background-color: white;
    }
    ion-card {
        position: relative;
        text-align: center;
        height: 200px;
    }
    .card-title {
        position: absolute;
        top: 88%;
        font-size: 1em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
}